* {
	margin: 0;
	padding: 0;
}

.hello {
	text-align: left;
	font-size: 35px;
	height: 70px;
    background-image: url("image/sky.jpg");
	
	
}
.text {
   text-align: center;
   font-size: 35px;
   background-color: whitesmoke;
}
.btn {
   width:5%;
   height:100%;
}

.pretext {
    background-color: whitesmoke;
    text-align: center;
    font-size: 40%;
}

.text textarea {
    width: 30%;
    height: 100%;
}

#input {
    font-size: 50%;
}
