* {
	margin: 0;
	padding: 0;
}

.login {
    text-align: right;
	font-size: 35px;
	height: 70px;
    background-image: url("image/sky.jpg");
    
}

#login_form{
    text-align: center;
    background-color: whitesmoke;
    font-size: 30%;
}



.sub {
    margin-top: 1%;
}

