* {
	margin: 0;
	padding: 0;
}

.body {
	text-align: left;
	font-size: 35px;
	height: 70px;
    background-image: url("image/sky.jpg");
}

.form {
    background-color: whitesmoke;
    text-align: center;
    
    padding: 0%;
    margin-top: 0%;
    
}
.form h2 {
    font-size: 90%;
    text-align: center;
}

