* {
	margin: 0;
	padding: 0;
}

body{
    text-align:center;
  }
  .con{
background-color: whitesmoke;

  font-size:120%;
  text-align:center;

  
  }
 

  .body {
    text-align: left;
	font-size: 35px;
	height: 70px;
    background-image: url("image/sky.jpg");
  }